@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: oklch(38.81% 0.141 132.11);
  --color-secondary: oklch(65.04% 0.197 41.62);
  --color-accent: oklch(80.93% 0.155 77.17);
  --color-neutral: oklch(92% 0.03 41.62);
  --color-info: oklch(55.4% 0.076 201.07);
  --color-success: oklch(54.87% 0.096 301.83);
  --color-warning: oklch(70.67% 0.137 55.65);
  --color-error: oklch(65.55% 0.178 15.68);
  --color-base-100: oklch(100% 0 0);
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-primary: oklch(30.62% 0.059 280.81);
  --color-secondary: oklch(55.23% 0.096 67.08);
  --color-accent: oklch(65.55% 0.178 15.68);
  --color-neutral: oklch(30.62% 0.059 280.81);
  --color-base-100: oklch(30.62% 0.059 280.81);
  --color-info: oklch(76.42% 0.065 209.26);
  --color-success: oklch(77.32% 0.09 305.18);
  --color-warning: oklch(79.41% 0.118 73.57);
  --color-error: oklch(48.36% 0.123 16.34);
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-alfa: "Alfa Slab One", serif;
  --font-mont: "Montserrat", sans-serif;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --animate-shake: shake 2.5s cubic-bezier(.36,.07,.19,.97) infinite;
  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }
}

@font-face {
  font-family: 'Alfa Slab One';
  font-display: swap;
  src: url('../../../public/fonts/AlfaSlabOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-display: swap;
  src: url('../../../public/fonts/BebasNeue.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../../../public/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../../../public/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
}

:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  line-height: 28px;
  font-weight: 400;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
}

html:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
  overflow-x: clip !important;
  overflow-y: scroll !important;
}

@layer base {
  p {
    color: black;
  }
  .toast-center {
    text-align: center;
  }

  #register form {
    @apply w-2/3 sm:w-1/2 mx-auto;
  }

  #login form {
    @apply w-2/3 sm:w-1/2 mx-auto;
  }

  #contact {
    p, h2 { color: white; }
    span:hover { color: #ffc107; }
    a { color: white; &:hover { color: #ffc107; } }
  }
}

@layer components {
  .button-orange {
    @apply py-2 px-4 xl:py-4 xl:px-10 bg-[#ff6d00] font-alfa leading-none rounded hover:bg-primary border-none uppercase text-center text-base font-medium text-white transition-all ease-out duration-300 inline-block;
  }

  .form-label {
    @apply py-1 sm:py-2 xl:py-3 inline-block font-mont xl:text-xl text-primary text-left font-semibold tracking-wider transition-all duration-500;
  }

  .form-input {
    @apply h-7 sm:h-8 xl:h-10 pl-1 sm:pl-2 w-full font-bebas text-base sm:text-lg text-[#3d3d3d] input join-item shadow-none border-[#ced4da] focus:outline-1 focus:outline-offset-0;
  }

  .form-validation {
    @apply text-xs xl:text-sm mt-1 p-1.5 bottom-8 sm:bottom-10 xl:bottom-12 font-bebas w-full absolute text-black rounded;
    background-color: rgb(232, 240, 254);
  }

  .scroll-top-button {
    @apply !absolute !bottom-0 !-left-3 bg-primary !flex !justify-center !items-center !w-11 !h-11 !rounded-full transition-all;
  }

  .section-title {
    @apply text-primary text-center text-2xl font-alfa sm:text-[36px] lg:text-[50px] mb-2.5 leading-tight font-medium uppercase;
  }
}

[data-theme='dark'] {
  html {
    background-color: #393552;
  }

  body {
    @apply bg-primary bg-[url('/bg.png')];
  }
  h2, p {
    color: oklch(0.8 0 0);
  }
  h5 {
    background-color: oklch(0.3 0 0);
  }

  #events .hero-content {
    background-color: oklch(0.8 0 0);
    h2, p { color: oklch(0.3 0 0); }
  }

  .form-input, .form-label {
    color: oklch(0.8 0 0);
  }

  #cart h2 {
    color: black;
  }

  .button-orange {
    @apply bg-secondary hover:bg-[#BEBEBEFF] hover:text-primary;
  }
  .menu-mobile a {
    @apply text-primary;
  }

  .form-validation {
    color: white;
    background-color: rgb(57, 53, 82);
  }

  #sidebar button {
    @apply transition-all duration-700;
  }

  #theme svg {
    fill: oklch(0.8 0 0);
  }

  .background-dark-header {
    background: rgb(142, 31, 31, 0.5);
  }

  .shadow-dark-sm {
    box-shadow: 7px 7px 13px 7px rgba(0, 0, 0, 0.3);
  }

  .shadow-dark-lg {
    box-shadow: 15px 15px 25px 15px rgba(0, 0, 0, 0.5);
  }

  .filter-dark {
    @apply grayscale;
  }

  .sidebar {
    background: #006b00;
  }

  #header path {
    fill: var(--color-primary);
  }
}
